.settings/
.buildpath
.project
site/wp-content/uploads/
site/wp-content/blogs.dir/
site/wp-content/upgrade/
site/wp-content/backup-db/
site/wp-content/advanced-cache.php
site/wp-content/wp-cache-config.php
site/sitemap.xml
*.log
site/wp-content/cache/
site/wp-content/backups/
site/sitemap.xml.gz

